.form {
  width: 50%;
}
.form__field {
  width: 100%;
  margin: 0 0 1.5rem 0;
  display: grid;
  grid-template-columns: 20% 1fr;
  justify-items: left;
  align-items: center;
}
.form__field__label {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.form__field__text,
.form__field__textarea {
  width: 100%;
  background-color: #efefef;
  border: 0;
  padding: .8rem;
  border-radius: 5px;
  &:focus {
    background-color: #d1d1d1;
    // border: 1px solid #414141;
  }
}
.form__field__button {
  grid-column: 1 / -1;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(57, 143, 93);
  &:hover{
    background-color: rgb(46, 116, 75);
  }  
  &:active {
    background-color: rgb(33, 82, 53);
  }
}
.form__field__tag__group {
  width: 100%;
}
