.tag-span {
  display: inline-block;
  padding: .5rem 1rem;
  margin: 3px;
  background-color: rgb(124, 18, 18);
  color: #fff;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    background-color: rgb(75, 11, 11);
  }
}
.tag-delete{
  text-align: center;
  &::after {
    content: '\1F5D9';
    display: block;
    top: 0;
    float: right;
    line-height: .9rem;
    font-size: 1rem;
    height: .9rem;
    width: .9rem;
    margin-left: 1rem;
    padding: 2px;
    border-radius: .9rem;
    background-color: rgb(133, 105, 105);
    cursor: pointer;
  }
  &:active:after {
    background-color: rgb(87, 68, 68);
  }
}